.app {
  //filter: brightness(50%);

}

$primary-font-color: rgb(92, 92, 92);
$secondary-font-color: rgb(214, 214, 214);
$primary-green-color: rgb(54, 230, 1);
$light-font-color: rgb(248, 248, 248);

$primary-font-size: 16px;

$min-height-input: 50px;
$containerPadding: 25px;

$primary-box-shadow: 1px 1px 5px  rgb(165, 165, 165);

$primary-animation-time: .2s;

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $secondary-font-color;

  
}

.app-wrapper {
  box-sizing: border-box;
  max-width:1600px;

  //overflow-x:hidden;
  margin: 0 auto; 
}

.navlogo {
  cursor:pointer;
  box-sizing: border-box;
  width:250px;
  color: $primary-font-color;
  //padding: 10px 30px;
  //border:solid;
  letter-spacing: 3px;;
  font-weight:bold;
  text-transform:uppercase;

  
  display:flex;

  justify-content: center;
  align-items:center;
  height:20px;

  & img {
    height:20px;
    margin-right:20px;
  }

}
.navitem {
  cursor:pointer;
  box-sizing: border-box;
  width:100px;
  color: $primary-font-color;
  //padding: 10px 30px;
  //border:solid;
  
  display:flex;

  justify-content: center;
  align-items:center;
  height:20px;
  transition: $primary-animation-time all;
  &:hover {
    opacity:0.5;
  }

}

.navbar {
  box-sizing: border-box;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  box-shadow: $primary-box-shadow;
  height:60px;
  width:100%;

  //padding:0 10px;


  &-right {
 
    box-sizing: border-box;
    display:flex;
    align-items: center;
    margin-right:10px;
    
  }
  &-left {
    box-sizing: border-box;
    display:flex;
    align-items: center;
    margin-left:10px;
  }
}


// components 
.btn-primary {
  text-align:center;
   
  width:120px !important;
  border: solid 1px $secondary-font-color;
  display:inline-block;
  cursor:pointer;
  transition:.2s all;

  padding:10px 15px;
  box-shadow: 1px 1px #cccccc;
  font-size:16px;
  &:hover {
    opacity:.5;
  }
}
.signup {
  color: $primary-font-color;
  

  
  &-title {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
   // border-bottom:solid 1px $secondary-font-color;
    
    //border:solid; 
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight:bold;
    & img {
      height:20px;
      margin-right:10px;
    }
  }
  &-body {
    margin-top:30px;
    
    &-btns {
      margin-top:40px;
      text-align:right;
      display:flex;
      flex-direction: column;
      justify-content: flex-end;;
      align-items:flex-end;
    }
 
  }
  &-footer {
    margin-top:40px;
    font-size:12px;
    display:flex;
    flex-direction:column;

    & a {
      text-decoration:underline;
      cursor:pointer;
      transition: .2s all;

      &:hover {
        opacity:0.5;
      }
    }
  }
  &-post {
    //animation: fadeIn $primary-animation-time;
    min-width:300px;
    color: $primary-font-color;

    &-body {
      display:flex;
      flex-direction:column;
       
      & span:not(:first-child) {
        margin-top:5px;
      }
    }
  }
}

// modal

.modalwindow {
  border-radius: 2px;;
  z-index:1;
  animation: fadeIn $primary-animation-time;
  &-close {
    animation: fadeOut $primary-animation-time;
    display:none;
    
  }
  padding: $containerPadding;
  background-color:white;
  //border:solid; 
  //box-shadow: $primary-box-shadow;
  box-shadow: 0 0 0 1000px rgba(0,0,0,.8);
  /* for real browsers */
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.8);


  position:fixed;
  background-color:white;
  transform:translate(-50%, -50%);
  top:50%;
  left:50%;

  &-header {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;

    & span {
      cursor:pointer;
      transition:.5s all;
      &:hover {
        opacity:0.5;
      }
    }
  }
  &-body{
    margin-top:20px;
  }
  //padding: $containerPadding;
}

.resultinfobar {
  box-sizing: border-box;
  padding: $containerPadding;
  display:flex;
  flex-direction: row;
  //border:solid 1px;
  justify-content: space-between;
  align-items: center;
  margin-bottom:10px;
  //box-shadow: $primary-box-shadow;
  border-bottom: solid 1px;
  border-color: $secondary-font-color;
  &-term {
    box-sizing: border-box;
    font-size:20px;
  }
  &-sort {
    box-sizing: border-box;
    
    
  }

}
.resultslist{

  //border:solid;
  flex:1;

  ul {
    margin:0;
    padding:0;
    list-style:none;

    li:not(:first-child) {
      padding-top:20px;
    }
    li:not(:last-child) {
      padding-bottom:20px;
      border-bottom:solid 1px;
      border-color: $secondary-font-color;
    }
  
  }

 
  
}

.resultitem {
  //box-shadow:$primary-box-shadow;
  box-sizing: border-box;
  display:flex;
  flex-direction:row;
  //padding:$containerPadding;
  height:150px;
  &-img {
    box-sizing: border-box;
    width:175px;
    height:100%;
    border-radius:2px;
  
    background-position:center top;
    background-size:cover;
    
  
    height:100%;
  }
  &-content {
    display:flex;
    flex-direction: column;
    width:100%;
    margin-left: 10px;

    &-header {
      
      //-decoration:underline;
      box-sizing: border-box;
      //border-bottom:solid 1px;
      border-color:$secondary-font-color;
      display:flex;
      flex-direction: row;
      font-weight:bold;
     // height:30px;
      justify-content: space-between;
      width:100%;

      font-size:20px;
      
 
    }
    &-overview {
      margin-top:2px;
      display:flex;
      flex-direction: row;
      //border:solid;
      flex:1;
      justify-content: space-between;
     
    


      &-info {
    
        display:flex;
        flex-direction:column;
       
        position:relative;
        //border:solid;
        width:250px;
        
        
        

        &-box {
          
          display:flex;
          flex-direction:column;
          position:absolute;
          box-sizing: border-box;
          //border:solid;
          bottom: 0;
          left: 0;
          width:150px;


          &-link {
            color:green;
            //text-align:center;
            margin-bottom:4px;
            cursor:pointer;
            transition: $primary-animation-time all;

            &:hover {
              opacity:0.5;
            }
          }

        }

      }
      &-rating {
        //border:solid;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;;
        align-content: flex-end;;
        margin-right:10px;
        & span {
          font-size:20px;
        }
      }
    }
  }
}

// utils 
.inputFieldContainer {
  box-sizing: border-box;
  //min-height:50px;
  //border:solid;
  display:flex;
  flex-direction: row;;
  position:relative;

  //padding:10px;
  
 
}

.textDropdownWithPlaceholder {
  box-sizing: border-box;
  color: $primary-font-color;
  
  width:100%;
  
  position:relative;
  &-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding:10px 10px;
    border:solid 1px;
    border-color:$secondary-font-color;
    cursor:pointer;
    &-selected {
      display:inline-block;
      //width:100%;
      margin-right: 10px;
    }
  }
  &-list {
    z-index:1;
    position:absolute;
    background-color:white;
    width:100%;
    box-sizing: border-box;
    box-shadow: $primary-box-shadow;
    max-height:175px;
    overflow-y:scroll;
    animation: fadeIn $primary-animation-time;
    & ul {
      margin:0;
      padding:0;
      list-style: none;
      & li {
        padding:10px 10px;
        cursor:pointer;
        &:not(:last-child) {
          border-bottom:solid 1px;
          border-color:$secondary-font-color;
        }

        transition: $primary-animation-time all;
        &:hover {
          opacity:0.5;
        }
      }
    }
  }
}

// keyframes
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.checkmarkInputWithLabel{
  display:flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  & div {
    //border:solid 1px;
    vertical-align: center;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
  }
  &-checkbox {
    padding:0;
    margin:0;
    margin-right:5px;
    border-color:$secondary-font-color;

  }
}

.textInputWithPlaceholder {
  display:flex;
  flex-direction: row;
  width:100%;
  //border:solid;
  box-sizing: border-box;


  
  & input {
    font-size:$primary-font-size;
    color: $primary-font-color;
    box-sizing: border-box;
    
    border:none;
    border-bottom: solid 1px;
    border-color:$secondary-font-color;
    width:100%;
    padding:5px 4px;
  }
  & input:active, & input:focus {
    //border:none;
    outline:none;
  }

}

// screens
.results {
  animation: fadeIn $primary-animation-time;
  color: $primary-font-color;
  padding:10px;
  box-sizing: border-box;
  position:relative;
  height:calc(100vh - 70px);

  &-display {
    display:flex;
    flex-direction: row;
  }
}

.about, .contact {
  animation: fadeIn $primary-animation-time;
  &-header {
    height:200px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:35px;
    
    color:$primary-font-color;
  }
  &-content {
    
    display:flex;
    flex-direction: row;;
    position:relative;
    &-info {
      flex:1;
      padding: $containerPadding;
      line-height:24px;
      position:relative;
      &-title {
        font-weight:bold;
      }
     
    }
    &-img {
      flex:1;
      display:flex;
      flex-direction:row;
      justify-content: flex-end;
      align-items: center;
      padding: $containerPadding; 

      //height:400px;
      //background-image: url("../res/images/main-image-2.jpg");
     // background-size:cover;
      //padding: $containerPadding;
    
    }
  }
}
.welcome {
  animation: fadeIn $primary-animation-time;
  color: $primary-font-color;
  box-sizing: border-box;
  
  position:relative;

  height:calc(100vh - 70px);
  margin-top:10px;

  display:flex;
  flex-direction: column;
  &-banner {
    display:flex;
    flex-direction: row;
   // border:solid;
    flex-grow:1;
    &-left {
      background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6) ), url('../res/images/main-image-1.jpg');
     // background-image: url("../res/images/main-image-1.jpg");
      background-size:cover;
      background-position:center top;
     // height:600px;
      flex:1;
      box-sizing: border-box;
    }
  
    &-right {
      background-image: url("../res/images/main-image-2.jpg");
      background-size:cover;
      background-position:center top;
    //  height:600px;
      flex:1;
      box-sizing: border-box;
    }
  }

  &-box {
    position:absolute;
    //height:80px;
    width:650px;
   // padding:20px;
   
  
    //background-color:white;
    transform:translate(-50%, -70%);
    top:70%;
    left:50%;
    //border:solid;
    &-search {
      
      background-color:white;
      height:60px;
      display:flex;
      justify-content: center;
      align-items:center;

      
  
     // height:40px;
    }
    &-info {
     
      color:$light-font-color;
      font-size:22px;
      font-weight:300;;
      margin-top:10px;
      display:flex;
      flex-direction: column;

      &-item {
        &-check {
          color:$primary-green-color;
        }
      }
    }
   
  }
}

.searchbar {
  //border:solid;
  box-sizing: border-box;
  width: 100%;
 // height:100%;
 

  & input {

    font-size:20px;
    padding: 10px 10px;
    width: 100%;
    border:none;
   // border-bottom:solid 1px ;
    box-sizing: border-box;
    color:$primary-font-color;

    &:focus, &:active {
      outline:none;
      border:none;
    }

  }
}


// filters 
.results-filter-col {

  height:400px;
  //width:275px;
  //box-shadow: $primary-box-shadow;
  margin-right:10px;
  padding: $containerPadding;
  //display:flex;
  
}